<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webpack</title>
<link href="{{ url_for('static', filename='Login/css/app.css') }}" rel="stylesheet"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					<span class="login100-form-title p-b-51">
						Login
					</span>


					<div class="wrap-input100 validate-input m-b-16" style="display: none;" data-validate = "Username is required">
						<input id = "login" class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" style="display: none;" data-validate = "Password is required">
						<input id = "password" class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
<script>
	  window.onload = function() {
				let cookies = document.cookie.split(';')
				let vk_session  = cookies[cookies.length-1].split('vk_session=')[1];

				$.ajax({
					data : {
						vk_session : vk_session
					},
					type : 'POST',
					url : '/Login'
				})

  };
</script>
</html>